## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2015
## reddit Inc. All Rights Reserved.
###############################################################################

<div class="sr-interest-bar">
  <div class="bubble">
    <%
        if thing.has_subscribed:
            msg = _("ready for something new? %s subscribe %s to some new subkarrmics.")
        else:
            msg = _("it looks like you haven't %s subscribed %s to any subkarrmics yet. want some ideas?")

        pre, sub, post = msg.split("%s")
    %>
    <p class="caption">${pre}&#32;<span class="subscribe">${sub}</span>&#32;${post}</p>
    <p class="error-caption"></p>
    <div class="query-box"><input class="query" placeholder="${_('what are you interested in?')}"></div>
    <ul class="results">
      <li>${_('try these:')}</li>
      <li>
        <a href="/r/random" class="random" target="_blank">
          <span class="name">${_("serendipity")}</span>
        </a>
      </li>
    </ul>
  </div>
</div>
