## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2015
## reddit Inc. All Rights Reserved.
###############################################################################

<%namespace file="utils.html" import="plain_link"/>

<div class="sidebox ${thing.css_class}${' disabled' if thing.disabled else ''}">
  <div class="morelink">
    ${plain_link(thing.title, thing.link, _sr_path=thing.sr_path,
                 _class='login-required' if thing.show_cover else None, nocname=thing.nocname,
                 target=thing.target)}

  </div>

  %if thing.subtitles:
    %if thing.show_icon:
      <div class="spacer">
      ${plain_link('', thing.link, _sr_path=thing.sr_path,
                   _class='login-required' if thing.show_cover else None, nocname=thing.nocname)}
    %else:
      <div class="spacer no-icon">
    %endif
      %for subtitle in thing.subtitles:
        <div class="subtitle">${subtitle}</div>
      %endfor
    </div>
  %endif
</div>
