## The contents of this file are subject to the Common Public Attribution
## License Version 1.0. (the "License"); you may not use this file except in
## compliance with the License. You may obtain a copy of the License at
## http://code.reddit.com/LICENSE. The License is based on the Mozilla Public
## License Version 1.1, but Sections 14 and 15 have been added to cover use of
## software over a computer network and provide for limited attribution for the
## Original Developer. In addition, Exhibit A has been modified to be
## consistent with Exhibit B.
##
## Software distributed under the License is distributed on an "AS IS" basis,
## WITHOUT WARRANTY OF ANY KIND, either express or implied. See the License for
## the specific language governing rights and limitations under the License.
##
## The Original Code is reddit.
##
## The Original Developer is the Initial Developer.  The Initial Developer of
## the Original Code is reddit Inc.
##
## All portions of the code written by reddit are Copyright (c) 2006-2015
## reddit Inc. All Rights Reserved.
###############################################################################

<%!
   from r2.lib.filters import websafe
   from r2.lib.strings import strings, Score
   from r2.lib.pages import WrappedUser, SubscribeButton
   from r2.lib.template_helpers import _ws
   from r2.models.listing import ModListing
 %>

<%namespace file="utils.html" import="plain_link, thing_timestamp, text_with_links"/>
<%namespace file="printablebuttons.html" import="ynbutton, state_button" />

<div class="titlebox">
  <h1 class="hover redditname">
    ${plain_link(thing.sr.name, thing.sr.path, _sr_path=False, _class="hover")}
  </h1>

  ${SubscribeButton(thing.sr)}
  <span class="subscribers">${unsafe(Score.readers(thing.subscribers))}</span>
  <p class="users-online ${'fuzzed' if thing.accounts_active_fuzzed else ''}" title="${_('logged-in users viewing this subreddit in the past 15 minutes')}">
      ${unsafe(Score.users_here_now(thing.accounts_active, prepend='~' if thing.accounts_active_fuzzed else ''))}
  </p>

  %if thing.sr.moderator:
    <div class="leavemoderator">
      ${text_with_links(ModListing.remove_self_title % dict(action='(%(action)s)'),
          _sr_path=True,
          action=dict(
            ## TRANSLATORS: this label links to the edit moderators page.
            link_text=_('change'),
            path='about/moderators'))}
    </div>
  %endif

  %if thing.sr.contributor:
    ${ynbutton(op='leavecontributor',
               title=_('leave'),
               executed=_('you are no longer an approved submitter'),
               question=_('stop being an approved submitter?'),
               format=_('you are an approved submitter on this subkarrmic. (%(leave)s)'),
               format_arg='leave',
               hidden_data=dict(
                 id=thing.sr._fullname))}
  %endif

  %if thing.sr_style_toggle:
    <form class="toggle sr_style_toggle">
      <input id="sr_style_enabled" type="checkbox" name="sr_style_enabled"
        ${'checked="checked"' if thing.use_subreddit_style else ""}
      >
      <label for="sr_style_enabled">
        ${_("Show this subkarrmic's theme")}
      </label>
      <div id="sr_style_throbber" class="throbber"></div>
    </form>
  %endif

  %if thing.flair_prefs:
    ${thing.flair_prefs}
  %endif

  %if thing.description_usertext:
    ${thing.description_usertext}
  %endif

  <div class="bottom">
    %if thing.sr.author:
      ${unsafe(_ws("created by %(user)s").replace(" ", "&#32;") % dict(user = unsafe(thing.creator_text)))}
    %endif
    
    <span class="age">
      ${_("a community for")}&#32;${thing_timestamp(thing.sr)}
    </span>  
  </div>

  %if c.user_is_admin:
    %if thing.sr._spam:
      ${state_button("approve", _("approve this subkarrmic"),
        "return change_state(this, 'approve');", _("approved"),
        hidden_data = dict(id = thing.sr._fullname))}
      %if thing.sr._spam and hasattr(thing.sr, "banner"):
         &#32;(${strings.banned_by % thing.sr.banner})
      %endif

    %else:
      ${state_button("remove", _("ban this subkarrmic"),
        "return change_state(this, 'remove');", _("banned"),
        hidden_data = dict(id = thing.sr._fullname))}
    %endif
  %endif

  <div class="clear"> </div>
  

</div>

